html,
body,
#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    background-color: black;
    color: white;
    overflow: hidden;
    font-family: monospace;
    outline: none;
    line-height: 1.5;
    font-size: 16px;
}

#root {
    padding: 8px;
    display: inline;
    overflow: auto;
    max-height: 100vh;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

.path {
    color: lightgreen;
}

.prefix {
    margin-right: 16px;
    width: min-content;
}

.b {
    color: lightblue;
}

.t {
    line-height: 1;
    display: block;
    margin-top: 4px;
}

.m {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    border-bottom: 2px solid white;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
}

.p {
    line-height: 42px;
    width: 100%;
    height: 42px;
}

.k {
    background-color: white;
    color: black;
}